.search-bar-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 0;
  transform: translate(-50%, 70%);
  width: 850px;
  height: 65px;
  border: 1px solid gray;
  border-radius: 33px;
}

.search-bar-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px 30px;
  border-radius: 33px;
}

.search-bar-container > div:hover {
  background: #f4f4f4;
}

.search-bar-container > div.focus {
  box-shadow: 0px 2px 5px 1px #aaaaaa;
}

.search-bar-container span {
  margin-bottom: 3px;
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.search-bar-container p {
  color: gray;
}

.input1, .input4 {
  width: 30%;
}

.input2, .input3 {
  width: 20%;
}
